<h1>Bits#Show</h1>

<p>
  <strong>Author:</strong>
  <%= @bit.author %>
</p>

<p>
  <strong>Body:</strong>
  <%= @bit.body %>
</p>

<%= link_to 'Back to All Bits', bits_path %>
<%= link_to 'Bitter Home', root %>
